.wrap {
	background-color: white;
	width: 80%;
	max-width: 1920px;
	margin: 0 auto;
}

.black-bg {
	background-color: bisque;
	position: absolute;
	width: 100%;
	height: 1000px;
	z-index: 1;
	left: 0;
}

header {
	background-color: black;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	color: white;
	position: relative;
	z-index: 10;
}

header .gnb {
	display: grid;
	grid-template-columns: 300px 1fr 300px;
	grid-template-rows: auto auto;
	grid-template-areas:
		'logo gnb-menu menu'
		'search search search';
}

a {
	color: white;
	font-weight: bold;
}

header > .gnb > .logo {
	grid-area: logo;
	display: flex;
	align-items: center;
}

header > .gnb > .gnb-menu {
	grid-area: gnb-menu;
	display: flex;
}
header > .gnb > .gnb-menu > ul {
	display: flex;
	align-items: center;
	width: 70%;
	justify-content: space-evenly;
	margin: 0 auto;
}
header > .gnb > .gnb-menu > ul > .active::before {
	content: '';
	height: 2px;
	width: 15px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
header > .gnb > .gnb-menu > ul > li:hover::before {
	content: '';
	height: 2px;
	width: 5px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
header > .gnb > .gnb-menu > ul > .active:hover {
	color: white;
}
header > .gnb > .gnb-menu > ul > .active:hover::before {
	content: '';
	height: 2px;
	width: 15px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
header > .gnb > .gnb-menu > ul > li:hover {
	color: gray;
}
li {
	cursor: pointer;
	font-weight: bold;
	position: relative;
	padding-bottom: 10px;
}

header > .gnb > .menu {
	grid-area: menu;
}
header > .gnb > .search {
	grid-area: search;
}
.mainBanner {
	height: 600px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	justify-content: flex-end;
	background-color: black;
	padding-bottom: 50px;
	position: relative;
	z-index: 10;
}

.mainBanner .content {
	color: white;
	text-align: center;
}

.mainBanner .content p {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.mainBanner .content button {
	border: 1px solid white;
	padding: 10px 20px;
	font-size: 1.2rem;
	background-color: white;
	border-radius: 24px;
	font-weight: bold;
	cursor: pointer;
}
